<h1>Hi <%= @person.name %>!</h1>

<div id="active_call">
  <% unless @person.active_call.nil? %>
    <video id="local_video" autoplay></video>
    <video id="remote_video" autoplay></video>
    <p id="call_status">Waiting</p>
    <%= link_to 'Cancel', hangup_call_path(@person.active_call) %>
    <script>
      var call_id = <%= @person.active_call.id %>;
      var client_id = <%= @person.id %>;
      var is_caller = <%= @person.active_call.caller_id == @person.id %>;
    </script>
    <%= javascript_include_tag 'people/me' %>
  <% end %>
</div>

<div id="waiting_calls">
  <h1>Waiting calls <%= link_to 'Refresh', me_people_path %></h1>
  <% if @person.waiting_calls %>
  <ul>
    <% @person.waiting_calls.each do |call| %>
      <li>
        <h3><%= call.caller.name %></h3>
        <%= link_to 'Reply', answer_call_path(call) %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div id="other_people">
  <h1>Other people <%= link_to 'Refresh', me_people_path %></h1>
  <ul>
    <% @people.each do |person| %>
      <li>
        <h3><%= person.name %></h3>
        <% if @person.active_call.nil? %>
          <%= link_to "Call #{person.name}", call_person_path(person) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
